@import url(http://fonts.googleapis.com/css?family=Meddon);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300);
@import url(http://weloveiconfonts.com/api/?family=entypo);

Global Reset & Standards ---------------------- */
    
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, font, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
  
  * { margin: 0px;padding: 0px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
  html { width:100%;width:100%;padding:0;margin:0;/*font-size: 62.5%;*/ }
  body {
    overflow-x: hidden;
    margin:0;padding:0;
    min-width: 100%;
    height:100%;
    line-height: 1; position: relative; 
    -webkit-font-smoothing: antialiased; 
    /* RES. TYPEFACE */
    font-size:110%!important;line-height: 1.6875;
}

/*--------------------------------------------------------------
Global styles
-------------------------------------------------------------- */
  em { font-style: italic;}
  strong { font-weight: 600;/*font-weight: bold;*/}
  .right {float: right;}
  .left { float: left;}
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {font-weight:900;letter-spacing:0px;margin: 1em 0 0.5em 0; }
  
  li,
  li a { font-weight:600;letter-spacing:0px;margin: .1em 0 0.1em 0;  }
  li { padding:10px 0;list-style-type:disc; }
  
  h1 { font-size: 2.1em;line-height:1.3em;}
  h2 { font-size: 1.8em;line-height: 1.3em;}
  h3 { font-size: 1.6em;line-height: 1.3em;}
  h4 { font-size: 1.5em;line-height: 1.3em;}
  h5 { font-size: 1.4em;line-height: 1.3em;}
  h6 { font-size: 1.2em;line-height: 1.3em;}
  p {  font-size: 1.2em !important;line-height: 1.3em !important;margin: 0 0 1em 0;letter-spacing:.1em;color:#0e7284 !important;  }
  span { font-size: 1.0em !important;line-height: 1.3em;margin: 0 0 1em 0;letter-spacing:.1em;color:#0e7284 !important; }
  
  a:link,
  a:visited {  text-decoration: underline;}
  
  a:hover,
  a:focus { }
  hr  {  }
  li, li a, p, span { font-size:1.2em; }
  
  small { padding:20px;}
  /* END Global Styles */
    
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

body, ul, li {
  margin: 0;
  padding: 0;
}

body {
  background: none;
}

.center {
    margin:0 auto !important;
    padding:0 !important;
    display:block !important;
}



section {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 20px;
  overflow: hidden;
}




/* Bootstap Custom */
.span1,
.span2,
.span3,
.span4,
.span5,
.span6,
.span7,
.span8,
.span9,
.span10,
.span11,
.span12 { }
.row-fluid, 
.container-fluid {
  margin:0 !important;
  padding:0 !important;
}

.contact_form {
    max-width:500px;
    margin:0 0 0 -1px !important;
    padding:0;
    float:left;
    
}

/* Form */
#form_container {
    position:relative;
    background:#f3f3f3 !important;
    width:500px;
    height:auto;
    padding:20px 0 40px 0 !important;
    text-align:center;
    float:none;
    margin:0 auto;
    overflow:hidden;
    /* Border Radius */
    border-radius:4px ;
    -webkit-border-radius:4px ;
    -moz-border-radius:4px ;
    -ms-border-radius:4px ;
    -o-border-radius:4px ;
    /* Box Shadow */
    box-shadow:4px 4px 3px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow:4px 4px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow:4px 4px 3px 0px rgba(0,0,0,0.3);
    -ms-box-shadow:4px 4px 3px 0px rgba(0,0,0,0.3);
    -o-box-shadow:4px 4px 3px 0px rgba(0,0,0,0.3);
}

#contact #contactimg img {
    
    max-height:180px !important;
    border:#fff solid 3px;
    padding:5px;
    margin:0px;
    -webkit-box-shadow:0px 0px 10px -0px rgba(0,0,0,.15);
    -moz-box-shadow:0px 0px 10px -0px rgba(0,0,0,.15);
    -ms-box-shadow:0px 0px 10px -0px rgba(0,0,0,.15);
    -o-box-shadow:0px 0px 10px -0px rgba(0,0,0,.15);
    box-shadow:0px 0px 10px -0px rgba(0,0,0,.15);
}
#contact #contactimg {
    padding:10px 0 ;
    margin:0px;
    background:#f9f9f9;
    -webkit-transform: rotate(0deg);
}

#form_container {
      margin-top:60px;
      margin-bottom:60px;

}
#form_container ul {
    margin:0;
    padding:0;
}
#form_container #login h2 {
    font-size:2.8em;
    font-weight:400 !important;
    color:#43CCCD !important; 
}
#form_container #login {
 
}
#form_container li {
    margin:0 auto;
    padding:0;
    list-style-type:none;
    width:363px;
    height:auto;
    padding:20px 0 0 0;
    position:relative !important;

}
#form_container li label{
      
    display:block;
    padding:10px 0;
    /* Typeface */
    background-color: transparent;
    color:#CCCCCC !important; 
    font-size:1.1em;
    text-shadow: rgba(33,201,198,.3) 1.5px 1.5px 1px;
    -moz-text-shadow: rgba(33,201,198,.3) 1.5px 1.5px 1px;
    -webkit-text-shadow: rgba(33,201,198,.3) 1.5px 1.5px 1px;
    -ms-text-shadow: rgba(33,201,198,.3) 1.5px 1.5px 1px;
    -o-text-shadow: rgba(33,201,198,.3) 1.5px 1.5px 1px;
    
}

#form_container li input{
     
    display:block;
    height:36px;
    width:330px !important;
    padding:10px 0px 10px 24px !important;
    margin:0 auto;
}
#form_container li textarea {
    display:block;
    height:96px;
    width:330px !important;
    padding:10px 0px 10px 24px !important;
    margin:0 auto;
}
#form_container li:hover span {
    background:#f3f3f3;
    color:#00f;
    display:block !important;
    position:absolute;
    top:10px;
    left:100%;
    z-index:1000;
    padding:10px 20px;
    width:100px;
    /* Border Radius */
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    /* Box Shadow */
    box-shadow:4px 4px 3px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow:4px 4px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow:4px 4px 3px 0px rgba(0,0,0,0.3);
    -ms-box-shadow:4px 4px 3px 0px rgba(0,0,0,0.3);
    -o-box-shadow:4px 4px 3px 0px rgba(0,0,0,0.3);
}
#form_container li span {
    display:none;

}

#form_container li button {
    margin:6px 0 0 0;
    padding:0;
    height:51px;
    width:334px;
    font-size:1.2em;
    color:#999 !important;
    border: 1px #ccc solid;
    border-radius:0 0 10px 10px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    /* Gradient */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 94%, #ededed 95%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(94%,#f3f3f3), color-stop(95%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 94%,#ededed 95%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 94%,#ededed 95%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 94%,#ededed 95%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 94%,#ededed 95%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#form_container li button:hover {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 6%, #ededed 7%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(6%,#f3f3f3), color-stop(7%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 6%,#ededed 7%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 6%,#ededed 7%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 6%,#ededed 7%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 6%,#ededed 7%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#form_container ul {
    margin:20px 0 0 0;
    padding:0;
}



       
/* Form Placeholder css */
:-moz-placeholder {
    color: #ccc;
}
::-webkit-input-placeholder {
    color: #ccc;
}
 
 /* Media Queries */
@media screen and (min-width:1px) and (max-width:980px){
    
    body {
        padding:0 !important;
        margin:0 !important;
    }
 

} 
 
@media screen and (min-width:1px) and (max-width:530px){


     

 }

 /* Striped BG */
 body {
  margin:0;
  
  background: 
    linear-gradient(to bottom, #ff0 0%, #f00 100%),
    linear-gradient(to bottom, #e20687 0%, #a21465 100%),
    linear-gradient(to bottom, #d8479e 0%, #a1c4d1 100%),
    linear-gradient(to bottom, #f9d307 0%, #8cc9d7 100%),
    linear-gradient(to bottom, #0077aa 0%, #50a3d8 100%),
    linear-gradient(to bottom, #a1c4d1 0%, #d8479e 100%),
    linear-gradient(to right, 
      #1e5799 4%,
      #1f9b7e 4%,
      #1f9b7e 8%,
      #fff 8%,
      #fff 10%,
      #5d24b7 10%,
      #5d24b7 11%,
      #be2e2e 11%,
      #be2e2e 13%,
      #fff 13%,
      #fff 15%,
      #d6942a 15%,
      #d6942a 17%,
      #b8d899 17%,
      #b8d899 21%,
      #fff 21%,
      #fff 27%,
      #8ace31 27%,
      #8ace31 34%,
      #fff 34%,
      #fff 36%,
      #f6b818 36%,
      #f6b818 40%,
      #e63737 40%,
      #e63737 44%,
      #fff 44%,
      #fff 52%,
      #f00 52%,
      #f00 54%,
      #fff 54%,
      #fff 60%,
      #e20687 60%,
      #e20687 64%,
      #fff 64%,
      #fff 70%,
      #8cd5f7 70%,
      #8cd5f7 72%,
      #fff 72%,
      #fff 73%,
      #ec6529 73%,
      #ec6529 74%,
      #fff 74%,
      #fff 75%,
      #d6942a 75%,
      #d6942a 76%,
      #fbe90f 76%,
      #fbe90f 81%,
      #fff 81%,
      #fff 85%,
      #1e5799 85%,
      #1e5799 88%,
      #8ace31 88%,
      #8ace31 89%,
      #fff 89%,
      #fff 92%,
      #ffe60a 92%,
      #ffe60a 94%,
      #f70909 94%,
      #f70909 96%,
      #8ace31 96%,
      #8ace31 99%,
      #fff 99%,
      #fff 99.5%,
      #d6942a 99.5%
    );
  
  background-size: 
    2% 100%,
    3% 100%,
    5% 100%,
    2% 100%,
    1% 100%,
    2% 100%,
    100% 1em
  ;
  
  background-position:
    12%,
    23%,
    48%,
    55%,
    59%,
    64%,
    0%
  ;
  
  background-repeat:
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    repeat
}